{% extends 'base.html' %}
{% block title %}Reset your password{% endblock %}
{% block content %}

{% if validlink %}
<div class="row justify-content-center">
    <div class="col-6 text-center ">
        <h4 class="p-2">Reset your password</h4>
        <p>Please enter your new password twice:</p>
        <form action="." method="post">
            {% csrf_token %}
            {% for forms in form %}
            <label for="{{forms.id_for_label}}">{{forms.label}}</label>
            <div class=''>{{forms}}</div>
            <div class='m-3 text-danger'>{{forms.errors}}</div>
            {% endfor %}
        <button type="submit" class="btn btn-success">Change my password</button>
        </form>
    </div>
</div>
   
{% else %}
<p>The password reset link was invalid, possibly because it has
already been used. Please request a new password reset.
</p>
{% endif %}
{% endblock %}