{% extends 'base.html' %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6 text-center">
        <h4 class="p-4">Reset password</h4>
        <p>Enter your e-mail address to obtain a new password.</p>
        <form action="." method="post" >
            <div class='m-3 bor19 size-218 m-b-20'>
                <label for="id_email">Email </label>
                {{ form.email }}
            <p><input type="submit" value="Send e-mail" class='m-3 btn btn-success'></p>
            <p class='text-danger m-3'>{{form.errors}}</p>
            {% csrf_token %}
            </div>
        </form>
    </div>
  
</div>

{% endblock content %}
    