{% load static %}

{% load cart_template_tags %}

<style>

.has-search .form-control {
    padding-left: 2.375rem;
}


.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

</style>
<nav class="bg-dark">
  <div class="row justify-content-end container-fluid">
      {% if user.is_authenticated %}
      <a class="nav-link text-white" href="{% url 'core:profile' %}"><i class="fas fa-user"></i> {{ user.username }}</a>
      <a class="nav-link text-white" href="{% url 'accounts:logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
      {% else %}
      <a class="nav-link text-white" href="{% url 'accounts:login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
      <a class="nav-link text-white" href="{% url 'accounts:signup' %}"><i class="fas fa-user-plus"></i> Sign Up</a>
      {% endif %}
  
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom-7 border-muted border-bottom mb-3"> 

    <a class="navbar-brand " href="{% url 'core:home' %}">
      <img src="{% static 'img/blocked.png' %}" width="60" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:men_form' %}"><b>Men</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:women_form' %}"><b>Women</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:sale_form' %}"><b> Sale</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:cart' %}"><span class="badge"> {{ request.user|cart_item_count }} </span><i class="fas fa-shopping-cart"></i></a>
        </li>
        </ul>
        </div>

   
    <form class="form-inline" action="{% url 'core:search_results' %}">
      <div class="md-form my-0">
        <input name='title' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </div>
    </form>
    <a class="nav-link text-secondary" href="{% url 'core:filter_search' %}"><span class="fas fa-filter"></span></a>
  </nav>
  {% if messages %}
        {% for message in messages %}
          <div class="alert {% if message.tags == 'error' %} alert-warning {% else %} alert-success {% endif %} " role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
    {% endif %}