  {% extends 'base.html' %}

  {% load static %}

  {% block content %}
    <div class="row">
      <aside class="col-sm-5">
  <article class="gallery-wrap"> 
  <div class="img-big-wrap">
    <div> <a href="#"><img src="{{ item.image.url }}"></a></div>
  </div> <!-- slider-product.// -->
  </article> <!-- gallery-wrap .end// -->
      </aside>
      <aside class="col-sm-7">
  <article class="card-body p-5">
    <h5><span class="badge badge-pill badge-primary float-right">{{ item.category }}</span></h5>
    <h3 class="title mb-3">{{ item.title }}</h3>
  <p class="price-detail-wrap"> 
    <span class="price h3">{% if item.discount_price %}<span class="num" style="color:gray;text-decoration: line-through;"><b>{{ item.price }} </b></span><span class="num"><b>{{ item.discount_price }}</b></span>{% else %}<span class="num">{{ item.price }}</span>{% endif %}$</span>
  </p> <!-- price-detail-wrap .// -->
  <dl class="item-property">
    <dt>Description</dt>
    <dd><p>{{ item.description }}</p></dd>
  </dl>
  <dl class="param param-feature">
    <dt>Color</dt>
    <dd>Black and white</dd>
  </dl>  <!-- item-property-hor .// -->
  <dl class="param param-feature">
    <dt>Delivery</dt>
    <dd>Worldwide</dd>
  </dl>  <!-- item-property-hor .// -->
  <hr>
    <a href="#" class="btn btn-primary text-uppercase"> Buy now </a>
    <a href="{% url 'core:add-to-cart' pk=item.pk %}" class="btn btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Add to cart </a>
  {% endblock content %}
  {% block extra_scripts %}
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
  {% endblock extra_scripts %}
