{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block title %}Detail{% endblock title %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/comment.css' %}">
  <div class="row justify-content-between" style="width: 100%;">
    <div class="img-big-wrap col-5">
      <img src="{{ item.image.url }}">
      <div class="images" id="image"> 
          {% for image in item.itemimage_set.all %} 
           <a href="{{ image.image.url }}">
             <img src="{{ MEDIA_URL}} {{ image.image.url }}" width="180" height="180" class="m-2"/>
           </a>
          {% endfor %}
      </div>
    </div> <!-- slider-product.// -->
  <div class="card-body col-7">
    <h5><span class="badge badge-pill badge-primary float-right">{{ item.category }}</span></h5>
    <h3 class="title mb-3">{{ item.title }}</h3>
  <p class="price-detail-wrap"> 
    <span class="price h3">{% if item.discount_price %}<span class="num" style="color:gray;text-decoration: line-through;"><b>{{ item.price }} </b></span><span class="num"><b>{{ item.discount_price }}</b></span>{% else %}<span class="num">{{ item.price }}</span>{% endif %}$</span>
  </p> <!-- price-detail-wrap .// -->
  <dl class="item-property">
    <dt>Description</dt>
    <dd><p>{{ item.description }}</p></dd>
  </dl>
  <dl class="param param-feature">
    <dt>Color</dt>
    <dd>Black and white</dd>
  </dl>  <!-- item-property-hor .// -->
  <dl class="param param-feature">
    <dt>Delivery</dt>
    <dd>Worldwide</dd>
  </dl>  <!-- item-property-hor .// -->
  <hr>
    <a href="#" class="btn btn-primary text-uppercase"> Buy now </a>
    <a href="{% url 'core:add-to-cart' pk=item.pk %}" class="btn btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Add to cart </a>
<hr>
<p class="float-right">Reviews: {{ comments.count }}</p>
          <div class="comment-wrapper">
              <div class="panel panel-info">
                  <div class="panel-body">
                    <form method="POST">
                      {{ comment_form|crispy }}
                      {% csrf_token %}
                      <br>
                      <input type="submit" value="Post" class="btn btn-info pull-right">
                      </form>
                      <div class="clearfix"></div>
                      <hr>
                      <ul class="media-list">
                        {% for comment in comments %}
                        <a style="color: red;" class="float-right" href="{% url 'core:comment_delete' pk=comment.pk %}"><span class="fas fa-trash"></span></a>
                          <li class="media">
                              <a href="#" class="pull-left">
                                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                              </a>
                              <div class="media-body">
                                  <span class="text-muted pull-right">
                                      <small class="text-muted">{{ comment.created_on|naturaltime }}</small>
                                  </span>
                                  <strong class="text-success">Posted by {{ user.username }}</strong>
                                  <p>{{ comment.body }}</p>
                              </div>
                          </li>
                          {% endfor %}
                      </ul>
                  </div>
              </div>
          </div>

  {% endblock content %}
  {% block extra_scripts %}
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
    $('#image a').click(function (e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });
  </script>
  {% endblock extra_scripts %}
