  {% extends 'base.html' %}

  {% load static %}

  {% block content %}
  <div class="row justify-content-between" style="width: 100%;">
      <div class="col-1" id="list-tab" role="tablist">
          {% for image_field in image  %}
          <a  href="#list-home"  id="list-home-list" ><img src="{{image_field.image.url}}" class='mb-3' style="border: 1px solid #9b9b9b;" width="50" height="50"></a>
          {% endfor %}

      </div>

    <div class="img-big-wrap col-5">
      <div class="tab-content" id="nav-tabContent"> 
       
        {% for image_field in image  %}    
        <img src="{{image_field.image.url}}" height="500px" width="430px" id="list-home" role="tabpanel"  aria-labelledby="list-home-list" class="tab-pane fade show active">
        {% endfor %}
      </div>
    </div> <!-- slider-product.// -->
  <div class="card-body col-6">
    <h5><span class="badge badge-pill badge-primary float-right">{{ item.category }}</span></h5>
    <h3 class="title mb-3">{{ item.title }}</h3>
  <p class="price-detail-wrap"> 
    <span class="price h3">{% if item.discount_price %}<span class="num" style="color:gray;text-decoration: line-through;"><b>{{ item.price }} </b></span><span class="num"><b>{{ item.discount_price }}</b></span>{% else %}<span class="num">{{ item.price }}</span>{% endif %}$</span>
  </p> <!-- price-detail-wrap .// -->
  <dl class="item-property">
    <dt>Description</dt>
    <dd><p>{{ item.description }}</p></dd>
  </dl>
  <dl class="param param-feature">
    <dt>Model#</dt>
    <dd>12345611</dd>
  </dl>  <!-- item-property-hor .// -->
  <dl class="param param-feature">
    <dt>Color</dt>
    <dd>Black and white</dd>
  </dl>  <!-- item-property-hor .// -->
  <dl class="param param-feature">
    <dt>Delivery</dt>
    <dd>Russia, USA, and Europe</dd>
  </dl>  <!-- item-property-hor .// -->
  <hr>
    <div class="row">
      <div class="col-sm-5">
        <dl class="param param-inline">
          <dt>Quantity: </dt>
          <dd>
            <select class="form-control form-control-sm" style="width:70px;">
              <option> 1 </option>
              <option> 2 </option>
              <option> 3 </option>
            </select>
          </dd>
        </dl>  <!-- item-property .// -->
      </div> <!-- col.// -->
    </div> <!-- row.// -->
    <hr>
    <a href="#" class="btn btn-lg btn-primary text-uppercase"> Buy now </a>
    <a href="#" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Add to cart </a>
  </div>  
  </div>
  {% endblock content %}
  {% block extra_scripts %}
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
  {% endblock extra_scripts %}
